{% load cm_tags order_tags %}
{% if brand and family %}
  {% with cart=brand|cart_for_family:family %}
    {% if cart.item_set.count %}
      <a style="display:inline-block" href="{% sdurl 'orders:cart' subdomain='accounts' scheme=default_http_protocol %}" class="navbar-toggle collapsed">
        <span class="sr-only">Shopping Cart</span>
        <span style="color:white" class="glyphicon glyphicon-shopping-cart"></span>
      </a>
    {% endif %}
  {% endwith %}
{% endif %}