{% extends 'orders/base.html' %}
{% load cm_tags %}

{% block content %}

  {% with items=order.item_set.all %}
    <h1>
      {% if order.state == 'preparing' %}
        {% if items %}
          Your Cart
        {% else %}
          Empty Cart
        {% endif %}
        <small><span class="glyphicon glyphicon-shopping-cart"></span></small>
      {% else %}
        Order #{{ order.id }}
      {% endif %}
    </h1>

    {% if items %}
      <h3>Subtotal: {{ order.subtotal }}</h3>
    {% endif %}

    {% if order.state == 'preparing' %}
      <div style="margin:40px 0">
        {% if items %}
          <button class="btn btn-primary">Check Out</button>
          <a href="{% include 'brands/_home_url.html' %}" class="btn btn-info">
            Continue Shopping
          </a>
        {% else %}
          <a href="{% include 'brands/_home_url.html' %}" class="btn btn-primary">
            Continue Shopping
          </a>
        {% endif %}
      </div>
    {% endif %}

    {% if items %}
      <h2>Items in your {% if order.state == 'preparing' %}cart{% else %}order{% endif %}</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            {% with obj=item.object %}
              <tr>
                <td>
                  {% if obj|is_a:'registrations.Registration' %}
                    Registration for:
                    {{ obj.attendee }}
                    at
                    {{ obj.event }}
                  {% endif %}
                </td>
                <td>
                  {{ obj.event.price }}
                </td>
              </tr>
            {% endwith %}
          {% endfor %}
          <tr>
            <td><strong>Subtotal:</strong></td>
            <td><strong>{{ order.subtotal }}</strong></td>
          </tr>
        </tbody>
      </table>
    {% endif %}

  {% endwith %}

{% endblock %}
