<div id="footer-navigation-links">
  {% for link in request.brand.footer_navigation_links %}
    {% if link.page.published %}
      <a href="{% spaceless %}
        {% if request.subdomain == request.brand.site_name %}
          {{ link.page.relative_url }}
        {% else %}
          {{ link.page.absolute_url }}
        {% endif %}{% endspaceless %}" class="btn btn-link">{{ link.text }}</a>
    {% endif %}
  {% endfor %}
</div>
