{% load subdomainurls %}
{% for link in request.brand.navbar_navigation_links %}
  {% if link.page.published %}
    <li class="{% if page == link.page %}active{% endif %}"><a href="{{ link.page.absolute_url }}">{{ link.text }}</a></li>
  {% endif %}
{% endfor %}
