{% extends 'instructors/base.html' %}

{% block head_title %}{{ instructor.name }}{% endblock %}

{% block content %}
  <h1>
    {{ instructor.name }}
  </h1>
  <div>
    {{ instructor.bio }}
  </div>
{% endblock %}
