{% load cm_tags %}

<form action="{% sdurl 'registrations:initiate' subdomain='accounts' scheme=default_http_protocol %}"
      method="post"
      style="display:inline-block;">

  {# No csrftoken since this may cross site boundaries. #}
  {# This form is only used to initiate the registration. #}

  {% with object|content_type as ct %}
    <input type="hidden" name="content_type_id" value="{{ ct.id }}" />
    <input type="hidden" name="object_id" value="{{ object.id }}" />
  {% endwith %}

  <button type="submit" class="btn btn-primary btn-register-now">
    Register Now
  </button>

</form>
