{% extends 'registrations/base.html' %}
{% load cloudinary %}
{% load cm_tags %}
{% load static %}

{% block page_css %}
  {{ block.super }}
  <style type="text/css">
    .fb {
      background: url({% static 'img/fb_200.png' %}) no-repeat center top;
    }
    h4 {
      font-weight: normal !important;
      text-align: center;
      margin: 30px 0;
    }
    .well :last-child {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block page_js %}
  {% if user.is_anonymous %}
    {# pass #}
  {% elif not families %}
    {% include 'registrations/initiate_family_profile_js.html' %}
  {% endif %}
{% endblock %}

{% block content %}

  {% with object.appearance.image as image %}

    {% if image %}
      <div class="visible-sm visible-md visible-lg pull-right" style="margin-top:20px">
        <img style="width:170px" class="media-object" src="{% cloudinary_url image width=340 height=340 crop="fit" %}" alt="Image representing the {{ object.name }} camp">
      </div>
    {% endif %}

    <h1>
      <small>Register for</small>
      <br>
      {{ object.name }}
    </h1>

    {% if image %}
      <div class="visible-xs">
        <img style="width:100%;margin-bottom:1em" src="{% cloudinary_url object.appearance.image width=620 height=372 crop="fill" gravity="center" %}" alt="Image representing the {{ object.name }} camp">
      </div>
    {% endif %}

    {% with object|content_type as ct %}
      {% if ct.model == 'class' %}
        {% include 'classes/_card_info.html' %}
      {% elif ct.model == 'camp' %}
        {% include 'camps/_card_info.html' %}
      {% endif %}
    {% endwith %}

    <div class="clearfix"></div>

  {% endwith %}

  {% if user.is_anonymous %}
    {% include 'registrations/initiate_anonymous.html' %}
  {% elif not families %}
    {% include 'registrations/initiate_family_profile.html' %}
  {% else %}
    {% include 'registrations/initiate_registration.html' %}
  {% endif %}

{% endblock %}
