{% load bootstrap_tags %}
{% load socialaccount %}

<div id="initiate-anonymous">
  <h4 style="margin-top:40px">To continue, you must sign in:</h4>
  <div class="text-center">
    <a href="{% provider_login_url 'facebook' method="js_sdk" next=next %}"><div class="fb"></div></a>
    {% include "socialaccount/snippets/login_extra.html" %}
  </div>
  <div class="row">

    <div class="col-sm-6">
      <h4>Not using Facebook?</h4>
      <form class="form-vertical" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ login_form|as_bootstrap }}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Sign In</button>
          <a class="btn btn-link" href="{% url 'account_reset_password' %}">Forgot password?</a>
        </div>
      </form>
    </div>

    <div class="col-sm-6">
      <h4>Haven't signed up yet?</h4>
      <form class="form-vertical" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ signup_form|as_bootstrap }}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
      <div class="media">
        <div class="media-left">
          <span class="glyphicon glyphicon-info-sign" style="font-size:20px;margin-top:10px"></span>
        </div>
        <div class="media-body">
          You can also click <em>Login with Facebook</em> above
          to sign up using your Facebook account.
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-offset-2 col-sm-8" style="margin-top:30px">
      <div class="well" style="padding:30px">
        <h3 class="text-center" style="margin-top:0;margin-bottom:20px">Why is signing in required?</h3>
        <p>
          At {{ request.brand.name }},
          we ask you to sign in and create a family profile
          so we can provide you with valuable services.
        </p>
        <p>
          You'll only need to do this once, and you'll get
          these benefits in return:
        </p>
        <ul style="padding-left:30px">
          <li>Fast &amp; easy online registration</li>
          <li>Additional class materials for ongoing learning</li>
          <li>Share photos and discuss topics with classmates and instructors</li>
        </ul>
        <h5>Need help registering?</h5>
        <p>
          TODO: Insert markdown blurb based on brand appearance settings.
          It will have contact information and any additional info
          that may be necessary.
        </p>
      </div>
    </div>

  </div>
</div>
