{% load bootstrap_tags %}

<div id="initiate-registration" style="margin-top:40px">

  <form action="{{ next }}" method="post">

    {% csrf_token %}
    <input type="hidden" name="_registration" value="1"/>

    {{ registration_form|as_bootstrap }}

    <div class="form-actions" style="margin-top:40px">
      <button class="btn btn-primary" type="submit">Save &amp; Continue</button>
    </div>

  </form>

</div>
