{% load bootstrap_tags %}
{% load cm_tags %}

<div id="initiate-family-profile">
  <h4 style="margin-top:40px">Complete your family profile</h4>

  <p>
    Please tell us about your family, and the children
    who will attend {{ request.brand.name }} classes
    or camps.
  </p>

  <p>
    You'll only need to do this once, and when you're done,
    you'll be ready to register!
  </p>

  <form action="{{ next }}" method="post">

    {% csrf_token %}
    <input type="hidden" name="_family_profile" value="1"/>

    <h4>Agreement</h4>

    {{ permission_agreement_form|as_bootstrap }}

    <ul>
      <li>
        I am a parent, legal guardian, or authorized caretaker of the child
        or children who will be registering for {{ request.brand.name }}
        classes and/or camps.
      </li>
      <li>
        I authorize {{ request.brand.name }} to use
        the information I provide below in accordance with
        its privacy policy.
      </li>
      <li>
        I grant {{ request.brand.name }} permission to use photographs
        of my child or children taken during class and/or camp activities
        in accordance with its photography policy.
      </li>
      <li>
        <a href="{% sdurl 'pages:detail' slug='privacy-policy' subdomain=request.brand.site_name %}">
          {{ request.brand.name }}
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="{% sdurl 'pages:detail' slug='photography-policy' subdomain=request.brand.site_name %}">
          {{ request.brand.name }}
          Photography Policy
        </a>
      </li>
    </ul>

    <h4>About your family</h4>

    {{ family_form|as_bootstrap }}

    <h4>Children in your family</h4>

    {{ child_formset.management_form }}
    {% for form in child_formset %}
      <div class="child-member">
        {% if forloop.counter > 1 %}
          <div style="border-top:2px solid;padding-top:30px;margin-top:30px"></div>
        {% endif %}
        {{ form|as_bootstrap }}
      </div>
    {% endfor %}
    <div>
      <button id="add-child-member" class="btn btn-info">
        Add another child
      </button>
    </div>

    <div class="form-actions" style="margin-top:40px">
      <button class="btn btn-primary" type="submit">Save &amp; Continue</button>
    </div>

  </form>
</div>
