@import "../vendor/bootstrap/less/bootstrap.less";

// Customize bootstrap and add your own LESS files here
// @brand-primary: #0033CC;

//** Load fonts from this directory.
//   Compensate for location relative to compiled less files.
@icon-font-path:          "../vendor/bootstrap/fonts/";

body {
  padding-top: 50px;
}


nav + .container > .alert:first-child {
  margin-top: 20px;
}


#footer-navigation-links {
  a.btn:first-of-type {
    padding-left: 0;
  }
  margin-bottom: 10px;
}


/* Sticky footer styles
-------------------------------------------------- */
@footer-height: 100px;
@footer-bg: #f5f5f5;
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: @footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: @footer-height;
  background-color: @footer-bg;
}


/* Facebook login
------------------------ */

.fb {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin: 20px 0;
    overflow: hidden;
    display: inline-block;
}
