<div class="text-muted card-info">

  {# date #}
  <div>
    <span class="glyphicon glyphicon-calendar"></span>
    {{ object.date|date:"D N j, Y" }}
  </div>

  {# session times #}
  {% for session in object.session_set.all %}
    <div>
      <span class="glyphicon glyphicon-time"></span>
      {{ session.start_time }}
      {% if session.max_age %}
        (ages {{ session.min_age }}&ndash;{{ session.max_age }})
      {% else %}
        (age {{ session.min_age }}+)
      {% endif %}
    </div>
  {% endfor %}

  {# location #}
  <div>
    <span class="glyphicon glyphicon-map-marker"></span>
    <a href="{% include 'locations/_detail_url.html' with location=object.location %}">{{ object.location.name }}</a>
  </div>

</div>
