<div>
  {% include 'classes/_card_info.html' %}
  {% include 'classes/_card_price.html' %}
</div>

<div style="margin-top:1.5em">
  <span style="margin-right:10px">{% include 'registrations/_register_button.html' %}</span>
  <a href="{% url 'classes:detail' pk=object.pk slug=object.name|slugify %}" class="btn btn-default">
    Learn More
  </a>
</div>
