{% extends 'classes/base.html' %}

{% block head_title %}{{ cls.name }}{% endblock %}

{% block page_css %}
  {{ block.super }}
  {% include '_hero_css.html' with image=cls.appearance.image effect="brightness:-30" %}
{% endblock %}

{% block content %}
  <div id="page-content">
    <h1>{{ cls.name }}</h1>
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-3">
        {% include 'classes/_card_info.html' with object=cls %}
        {% include 'classes/_card_price.html' with object=cls %}
        <div style="margin-top:1.5em;margin-bottom:1.5em">
          {% include 'registrations/_register_button.html' %}
        </div>
      </div>
      <div class="col-sm-7 col-md-8 col-lg-9">
        {{ cls.description }}
        <ul class="pager">
          <li class="previous"><a href="/"><span aria-hidden="true">&larr;</span> Back to all classes</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
