<div class="text-muted card-info">

  {# date #}
  <div>
    <span class="glyphicon glyphicon-calendar"></span>
    {{ object.start_date|date:"D N j, Y" }} &mdash; {{ object.end_date|date:"D N j, Y" }}
  </div>

  <div>
    <span class="glyphicon glyphicon-time"></span>
    {{ object.start_time }} &mdash; {{ object.end_time }}
  </div>

  <div>
    <span class="glyphicon glyphicon-info-sign"></span>
    {% if object.max_age %}
      Ages {{ object.min_age }}&ndash;{{ object.max_age }}
    {% else %}
      Age {{ object.min_age }}+
    {% endif %}
  </div>

  {# location #}
  <div>
    <span class="glyphicon glyphicon-map-marker"></span>
    <a href="{% include 'locations/_detail_url.html' with location=object.location %}">{{ object.location.name }}</a>
  </div>

</div>
