<div>
  {% include 'camps/_card_info.html' %}
  {% include 'camps/_card_price.html' %}
</div>

<div style="margin:20px 0">
  <span style="margin-right:10px">{% include 'registrations/_register_button.html' %}</span>
  <a href="{% url 'camps:detail' pk=object.pk slug=object.name|slugify %}" class="btn btn-default">
    Learn More
  </a>
</div>
