{% extends 'camps/base.html' %}

{% block head_title %}{{ camp.name }}{% endblock %}

{% block page_css %}
  {{ block.super }}
  {% include '_hero_css.html' with image=camp.appearance.image effect="brightness:-30" %}
{% endblock %}

{% block content %}
  <div id="page-content">
    <h1>{{ camp.name }}</h1>
    <div class="row">
      <div class="col-sm-5 col-md-4 col-lg-3">
        {% include 'camps/_card_info.html' with object=camp %}
        {% include 'camps/_card_price.html' with object=camp %}
        <div style="margin-top:1.5em;margin-bottom:1.5em">
          {% include 'registrations/_register_button.html' %}
        </div>
      </div>
      <div class="col-sm-7 col-md-8 col-lg-9">
        {{ camp.description }}
        <ul class="pager">
          <li class="previous"><a href="/camps/"><span aria-hidden="true">&larr;</span> Back to all camps</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
