{% extends 'locations/base.html' %}

{% block head_title %}{{ location.name }}{% endblock %}

{% block content %}
  <h1>
    {{ location.name }}
  </h1>
  <div>
    {{ location.description }}
  </div>
{% endblock %}
