{% comment %}

  Inputs:
  - `template`: Name of the card template to render.
  - `objects`: List of objects being rendered.

  The template should work with the name `object`.

{% endcomment %}

<div class="row">
  {% for object in objects %}
    <div class="col-md-6">
      <div>
        {% include template with object=object %}
      </div>
    </div>
    {% if forloop.counter|divisibleby:2 %}
      <div class="clearfix"></div>
    {% endif %}
  {% endfor %}
</div>
