{% load cloudinary %}

<div style="margin:40px 0">
  {% with object.appearance.image as image %}
    <h3 style="margin-top:0;padding-bottom:7px;border-bottom:1px solid"> {# TODO: get this into less so it follows brand appearance #}
      <a href="{% url detail_url_name pk=object.pk slug=object.name|slugify %}">{{ object.name }}</a>
    </h3>
    <div style="margin-top:12px">
      {% if image %}
        <div class="visible-sm visible-md visible-lg pull-right">
          <img style="width:170px" class="media-object" src="{% cloudinary_url image width=340 height=340 crop="fit" %}" alt="Image representing the {{ object.name }} camp">
        </div>
        <div class="visible-xs">
          <img style="width:100%;margin-bottom:1em" src="{% cloudinary_url object.appearance.image width=620 height=372 crop="fill" gravity="center" %}" alt="Image representing the {{ object.name }} camp">
        </div>
      {% endif %}
      {% include card_body_template %}
    </div>
  {% endwith %}
</div>
