{% load static %}
{% load cloudinary %}
{% load compress %}
{% load cm_tags %}
{% load pages_tags %}
{% with brand=request.brand appearance=request.brand.appearance family=request.family %}
<html lang="en">
  <head>
    {% if appearance.body_font or appearance.heading_font %}
      {% if appearance.body_font != appearance.heading_font %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ appearance.body_font|urlencode }}:400,400italic,700|{{ appearance.heading_font|urlencode }}:100,400,700">
      {% else %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ appearance.body_font|urlencode }}:100,400,400italic,700">
      {% endif %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{% block head_title %}{% endblock %}</title>

    {% if appearance %}
      <link rel="stylesheet" type="text/css" media="all" href="{% url 'brand_css' slug=brand.site_name timestamp=appearance.modified.timestamp %}">
    {% else %}
      {% if DEBUG %}
        {% compress css %}
          <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/app-debug.less' %}">
        {% endcompress %}
      {% else %}
        {% compress css %}
          <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/app.less' %}">
        {% endcompress %}
      {% endif %}
    {% endif %}

    {% block page_css %}
    {% endblock %}

    {% if appearance.body_font %}
      <style type="text/css">
        body {
          font-family: '{{ appearance.body_font }}', serif !important;
        }
      </style>
    {% endif %}
    {% if appearance.heading_font %}
      <style type="text/css">
        h1, h2, h3, h4, h5, h6, .btn, .card-info, .navbar, .pager, #footer-navigation-links {
          font-family: '{{ appearance.heading_font }}', sans-serif !important;
        }
        h1, h2, h3, h4, h5, h6 {
          font-weight: 700;
        }
      </style>
    {% endif %}

    {% block extra_head %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% block body %}

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% spaceless %}
          {% if brand %}
            {% with page=brand|index_page %}
              {{ page.absolute_url }}
            {% endwith %}
          {% else %}
            /
          {% endif %}
        {% endspaceless %}">{% spaceless %}
          {% if brand %}
            {% with appearance.logo as logo %}
              {% if logo %}
                <img src="{% cloudinary_url logo height=70 %}" style="margin-top:-7px;height:35px" alt="{{ brand.name }}">
              {% else %}
                {{ brand.name }}
              {% endif %}
            {% endwith %}
          {% else %}
            {{ site.name }}
          {% endif %}
        {% endspaceless %}</a>
        <span class="visible-xs">
          {% include 'orders/_cart_navbar_link.html' %}
        </span>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if brand %}
            {% include 'brands/_nav_bar_items.html' %}
          {% else %}
            {% include 'marketing/_nav_bar_items.html' %}
          {% endif %}
        </ul>
        {% if request.subdomain != 'www' %}
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_anonymous %}
              <li><a href="{% sdurl 'account_login' subdomain='accounts' scheme=default_http_protocol %}">Login</a></li>
            {% else %}
              <li><a href="{% sdurl 'profile_index' subdomain='accounts' scheme=default_http_protocol %}">Your Account</a></li>
            {% endif %}
          </ul>
          <div class="navbar-header hidden-xs navbar-right">
            {% include 'orders/_cart_navbar_link.html' %}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">

    {% stage_notice %}

    {% for message in messages %}
      {% with message.tags as level %}
        {% if DEBUG or level != 'debug' %}
          <div class="alert alert-dismissable alert-{{ level }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        {% endif %}
      {% endwith %}
    {% endfor %}

    {% block content %}{% endblock %}

  </div>

  <footer class="footer">
    <div class="container">
      {% if brand %}
        {% include 'brands/_footer_items.html' %}
        <p class="text-muted">
          &copy; {{ current_date.year }} {{ brand.organization.name }}
          <br>
          Powered by <a href="https://www.classmechanics.com/" target="_blank">Class Mechanics <span class="glyphicon glyphicon-new-window"></span></a>
        </p>
      {% else %}
        {% include 'marketing/_footer_items.html' %}
        <p class="text-muted">
          &copy; {{ current_date.year }} {{ site.name }}
        </p>
      {% endif %}
    </div>
  </footer>

  <!-- Google CDN jQuery with a local fallback -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>

  {% compress js %}
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  {% endcompress %}

  {% block page_js %}
  {% endblock %}

  {% block extra_body %}
  {% endblock %}

{% endblock %}

{% block body_analytics %}
  {% include '_body_analytics.html' %}
{% endblock %}
</body>
</html>
{% endwith %}